{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
    <div class="bg-white custom-shadow rounded p-4 mb-5">
        <h1 class="m-0 mb-3"><strong>{{ content }}</strong></h1>
        <p class="m-0">{{ text_on_page|linebreaks }}</p>
    </div>
{% endblock %}



{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; ИВТ-31Д 0/1 + 36</p>
        </div>
    </footer>
{% endblock %}